{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">
                <div class="content">
                    <h1 class="ui header">Política de cookies</h1>
                    <div class="ui divider"></div>
                    <p>
                        El Aula de Software Libre informa acerca del uso de las cookies.
                    </p>
                    <h2>¿Qué son las cookies?</h2>
                    <p>
                        Una cookie es un pequeño fragmento de texto que los sitios web que visita envían al navegador y
                        que permite que el sitio web recuerde información sobre su visita, como su idioma preferido y
                        otras opciones, con el fin de facilitar su próxima visita y hacer que el sitio le resulte más
                        útil. Las cookies desempeñan un papel muy importante y contribuyen a tener una mejor experiencia
                        de navegación para el usuario.
                    </p>
                    <h2>Cookies utilizadas en la web</h2>
                    <p>
                    <table class="ui celled table ">
                        <thead>
                        <tr>
                            <th>Cookie</th>
                            <th>Caducidad</th>
                            <th>Categoría</th>
                            <th>Función</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>PHPSESSID</td>
                            <td>Sesión del usuario</td>
                            <td>Cookie técnica</td>
                            <td>Mantener la sesión del usuario</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                    <h2>Autorización para el uso de cookies</h2>
                    <p>
                        La cookie técnica solo se crea cuando el usuario inicia sesión y/o se registra. Se entiende, por
                        tanto, que el usuario acepta la cookie, por otra parte imprescindible para poder utilizar la
                        aplicación.
                    </p>
                    <h2>Desactivación y eliminación de cookies</h2>
                    <p>
                        El usuario puede eliminar la cookie cerrando la sesión y/o eliminando su usuario.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}