{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ui header">Ayuda</h1>
    <div class="ui divider"></div>
    <p>
        <em>Idea</em> es una plataforma creada por el
        <a href="https://www.uco.es/aulasoftwarelibre">Aula de Software Libre</a>
        de la Universidad de Córdoba para ayudar a la propuesta y creación de
        actividades.
    </p>
    <p>
        Cualquier miembro de la comunidad que tenga cuenta de usuario puede
        proponer una idea, bien para ser organizada por él o para solicitar ayuda
        para organizarla.
    </p>

    <h2 class="ui header">Votar propuestas</h2>
    <p>
        Todas las nuevas propuestas de actividades comienzan en estado <em>pendiente</em>.
        No es hasta que las ideas tengan un número de votos de personas interesadas, que
        los coordinadores del grupo pueden pasar la misma a <em>aceptada</em>. Las
        ideas que no concuerden con los fines del grupo puede ser directamente
        <em>rechazadas</em> y ya no se podrán votar.
    </p>
    <p>
        Las propuestas permanecerán abiertas hasta que se celebren o acaben siendo
        rechazdas.
    </p>

    <h2 class="ui header">¿Qué significa votar una propuesta?</h2>
    <p>
        Cuando votas una propuesta pendiente, significa que estarías interesado en
        asistir, suponiendo que te fuera posible.
    </p>
    <p>
        Cuando la propuesta ya está aceptada, el voto pasa a ser una confirmación de
        asistencia. Si no puedes asistir, o ya no te interesa, puedes cancelar tu voto
        en cualquier momento.
    </p>

    <h2 class="ui header">Límite de plazas</h2>
    <p>
        Algunas actividades pueden tener limitado el número de plazas. El sistema
        no implementa lista de espera por el momento, por lo que tan pronto se llene
        no se podrán aceptar más votos.
    </p>

    <h2 class="ui header">Logotipo</h2>

    <p>
        Parte del logotipo de Idea se ha realizado utilizando material de libre uso
        con atribución perteneciente a <a href='https://www.freepik.com/free-vector/modern-quick-tips-composition-with-flat-design_2729853.htm'>Freepik</a>
    </p>
{% endblock %}