{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui inverted idea fluid segment">
                <div class="content">
                    <h1 class="ui inverted header">Condiciones generales de uso</h1>
                    <div class="ui divider"></div>
                    <h2>Objeto</h2>
                    <p>
                        Las presentes Condiciones Generales de Uso (en adelante, 'las Condiciones' o las 'Condiciones
                        Generales') describen los términos aplicables al servicio que el Aula de Software Libre, con
                        domicilio en Aulario Averroes, Campus de Rabanales, Córdoba 14014; y con dirección de correo
                        electrónico de contacto aulasoftwarelibre@uco.es (en adelante “el Aula”), pone a disposición de
                        los usuarios de internet a través de este portal.
                    </p>
                    <p>
                        El servicio prestado a través del portal (en adelante, 'el Servicio'), consiste en crear un
                        gestor de actividades para conocer el interés sobre las mismas por parte de los usuarios del
                        Servicio.
                    </p>
                    <p>
                        El Portal enviará notificaciones por correo electrónico de las actividades que se realicen, así
                        como de los cambios o cualesquiera circunstancia que pueda ser de interés para los Usuarios. Los
                        Usuarios podrán darse de baja de dichas notificaciones.
                    </p>
                    <p>
                        Serán reconocidos con la condición de Usuario, cualquier interesado que se registre en el portal.
                    </p>
                    <h2>Contenidos de los usuarios</h2>
                    <p>
                        Los contenidos que los Usuarios comparten voluntariamente a través del Portal, se definen
                        conjuntamente como 'los Contenidos' de los Usuarios. Los Usuarios son los únicos
                        responsables de los Contenidos que hayan compartido en el Portal, dejando indemne a el Aula de
                        cualquier reclamación (judicial o extrajudicial) que surja o pudiera surgir por dichos Contenidos.
                    </p>
                    <p>
                        Los Contenidos de los Usuarios quedarán sometidos a las presentes Condiciones.
                    </p>
                    <p>
                        Los Contenidos de los Usuario deberán ser veraces. A estos efectos, el Usuario garantiza la
                        autenticidad de todos aquellos Contenidos compartidos en el Portal no asumiendo el Aula
                        responsabilidad alguna al respecto.
                    </p>
                    <h2>Aceptación de las presentes condiciones</h2>
                    <p>
                        La prestación del Servicio estará siempre condicionada a la aceptación por parte del Usuario de
                        la Política de Privacidad, de la Política de Cookies y de las presentes Condiciones Generales.
                    </p>
                    <p>
                        Para acceder al Servicio, el Usuario debe darse de alta en el Portal a través del proceso de
                        registro habilitado a tal efecto.
                    </p>
                    <p>
                        El Aula se reserva el derecho a denegar en cualquier momento, sin necesidad de aviso previo y
                        sin derecho a indemnización, el acceso al Portal a aquellos Usuarios que incumplan las presentes
                        Condiciones, la Política de Privacidad o la Política de Cookies. Si el Aula tuviera motivos
                        razonables para entender que se ha realizado un uso que vulnera las presentes Condiciones,
                        estará autorizado a eliminar el Perfil del Usuario infractor.
                    </p>
                    <h2>Condiciones de uso del servicio</h2>
                    <p>
                        Para acceder y utilizar el Servicio es imprescindible la utilización del email de Usuario
                        registrado. El Usuario debe seleccionar el proveedor de identidad que desee el cual proporcionará
                        dicha dirección de correo.

                        El registro en el Portal tiene carácter personal. El Usuario garantiza mantener toda la
                        información facilitada al Aula permanentemente actualizada de forma que responda, en cada momento,
                        a la situación real del Usuario. En todo caso el Usuario será el único responsable de las
                        manifestaciones falsas o inexactas que realice y de los perjuicios que cause al Aula o a terceros
                        por la información que facilite.
                    </p>
                    <h2>Responsabilidad del Usuario</h2>
                    <p>
                        El Usuario se obliga a utilizar el Servicio conforme a la legislación vigente, a las
                        presentes Condiciones, a los principios de buena fe y a los usos generalmente aceptados y a no
                        contravenir con su actuación a través del Portal el orden público ni lo dispuesto en la Política
                        de Privacidad y en la Política de Cookies. Por tanto, queda prohibido todo uso con fines ilícitos
                        o que perjudiquen o impidan, puedan dañar y/o sobrecargar, de cualquier forma, la utilización y
                        normal funcionamiento del Portal, o bien, que directa o indirectamente atenten contra cualquiera
                        de los Usuarios o contra cualquier tercero.
                    </p>
                    <p>
                        Cualquier infracción de estas Condiciones Generales puede dar lugar a los procedimientos
                        extrajudiciales o judiciales civiles o penales que correspondan contra el Usuario, que deberá
                        mantener indemne al Aula frente cualesquiera reclamaciones, demandas, daños y perjuicios que
                        pueda sufrir como consecuencia de la infracción antes descrita.
                    </p>
                    <h2>Dudas, quejas y reclamaciones</h2>
                    <p>
                        El Usuario que tuviera cualquier duda sobre las presentes Condiciones, así como con relación a
                        cualquiera de los servicios ofrecidos en a través del Portal, o quisiera presentar una queja,
                        reclamación o sugerencia, podrá hacerlo a través del envío de un correo electrónico a
                        aulasoftwarelibre@uco.es.
                    </p>
                    <h2>Jurisdicción y legislación aplicable</h2>
                    <p>
                        Las presentes Condiciones Generales se regirán por la legislación española. Cualquier controversia
                        que pudiera derivarse del acceso o la utilización del Portal se somete a la exclusiva jurisdicción
                        de los tribunales de Córdoba (España).
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
