security:
    encoders:
        App\Entity\User: auto

    role_hierarchy:
        ROLE_ADMIN:       ROLE_SONATA_ADMIN
        ROLE_SUPER_ADMIN: ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH

    # https://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:  '^/(_(profiler|wdt)|css|images|js)/'
            security: false
        main:
            pattern: '^/'
            guard:
                authenticators:
                    - 'App\Security\Guard\UcoAuthenticator'
                    - 'App\Security\Guard\GoogleAuthenticator'
                    - 'App\Security\Guard\GithubAuthenticator'
                    - 'App\Security\Guard\DiscordAuthenticator'
                entry_point: 'App\Security\Guard\UcoAuthenticator'
            logout:
                path: '/logout'
                target: '/'
            anonymous:   true
            switch_user: true

    access_control:
        - { path: '^/login$', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: '^/connect/(uco|google|discord|github)$', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: '^/connect/(uco|google|discord|github)/check', role: 'ROLE_USER' }
        - { path: '^/admin', role: 'ROLE_SONATA_ADMIN' }
        - { path: '^/api/threads', role: 'ROLE_USER' }
        - { path: '^/api', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: '^/', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
