security:
    encoders:
        App\Entity\User: 'bcrypt'

    role_hierarchy:
        ROLE_ADMIN:       ROLE_SONATA_ADMIN
        ROLE_SUPER_ADMIN: ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH

    # https://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:  '^/(_(profiler|wdt)|css|images|js)/'
            security: false
        main:
            pattern: '^/'
            oauth:
                resource_owners:
                    ssp: '/login/check-ssp'
                login_path: '/login'
                use_forward: false
                failure_path: '/login'
                oauth_user_provider:
                    service: my.oauth_aware.user_provider.service
            logout:
                path: '/logout'
                target: '/'
            anonymous:   true
            switch_user: true
            logout_on_user_change: true

    access_control:
        - { path: '^/login$', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: '^/admin', role: 'ROLE_SONATA_ADMIN' }
        - { path: '^/api', role: 'ROLE_USER' }
        - { path: '^/check', role: 'ROLE_USER' }
        - { path: '^/', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
