**/*.log
**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.dockerignore
.editorconfig
.env.*.local
.env.local
.env.local.php
.php_cs.cache
Dockerfile
bin/*
!bin/console
config/secrets/prod/prod.decrypt.private.php
docker/db/data/
helm/
node_modules/
public/build/
public/cache/
public/images/
var/
vendor/
