{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': status_code }) }}</h1>

    <p class="lead">
        {{ 'http_error.description'|trans({ '%status_code%': status_code }) }}
    </p>
    <p>
        {{ 'http_error.suggestion'|trans({ '%url%': path('homepage') })|raw }}
    </p>
{% endblock %}
