@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: rgb(218, 224, 230) none repeat scroll 0% 0%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.footer.segment {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#main {
    margin-right: 318px;
}

.logo {
    background: url("../images/ideas-small.png") no-repeat;
    width: 66px;
    height: 27px;
    margin: 5px 10px 0 15px;
}

.help-text {
    font-size: 10px;
    padding-top: 5px;
}

.ui.counter.segment {
    padding: 0;
}

.ui.vertical.stripe {
    padding: 4.5em 0em 5em;
}

.top.fixed.menu .topmenu.button {
    height: 40px;
    min-width: 220px;
    margin: auto 10px;
}

.top.fixed.menu .dropdown.icon {
    position: absolute;
    right: 15px;
}

.top.fixed.menu .current {
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}

#add {
    margin: auto 0;
    padding: 13px 0;
    height: 40px;
    width: 40px;
}

/* Card */

.ui.idea.card {
    border-radius: 0;
}

.ui.idea .vote {
    padding: 0;
}

.ui.idea > .content > .description {
    clear: unset;
    font-family: 'Lato', sans-serif;
}

/* Card votes */

.ui.idea .statistic {
    min-width: 100px;
    background: #f8f9fa none repeat scroll 0% 0%;
    padding: 12px 0 5px;
    margin: 0;
}

.ui.basic.approved.label {
    background-color: #FFFFFF !important;
    color: #21BA45 !important;
    border-color: #21BA45 !important;
}

.ui.basic.approved.labels a.label:hover,
a.ui.basic.approved.label:hover {
    background-color: #FFFFFF !important;
    color: #16ab39 !important;
    border-color: #16ab39 !important;
}

.ui.basic.rejected.label {
    background-color: #FFFFFF !important;
    color: #DB2828 !important;
    border-color: #DB2828 !important;
}

.ui.basic.rejected.labels a.label:hover,
a.ui.basic.rejected.label:hover {
    background-color: #FFFFFF !important;
    color: #d01919 !important;
    border-color: #d01919 !important;
}

.ui.basic.new.label {
    background-color: #FFFFFF !important;
    color: #FBBD08 !important;
    border-color: #FBBD08 !important;
}

.ui.basic.new.labels a.label:hover,
a.ui.basic.new.label:hover {
    background-color: #FFFFFF !important;
    color: #eaae00 !important;
    border-color: #eaae00 !important;
}

.ui.basic.proposed.label {
    background-color: #FFFFFF !important;
    color: #767676 !important;
    border-color: #767676 !important;
}

.ui.basic.proposed.labels a.label:hover,
a.ui.basic.proposed.label:hover {
    background-color: #FFFFFF !important;
    color: #838383 !important;
    border-color: #838383 !important;
}

.summary {
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    mask-image: linear-gradient(180deg,#000 60%,transparent);
    overflow: hidden;
    padding: 5px 8px 10px;
    max-height: 200px;
}

#ideas > .row {
    padding-bottom: 0;
}

.ui.idea  > .extra {
    border-top: unset!important;
}

.ui.vote > .ui.label,
.ui.vote > .ui.button {
    font-size: 0.87em!important;
}

/* Card meta */

.ui.idea .meta.send.by .group {
    background-color: #edeff1;
    padding: 0 4px;
    border-radius: 2px;
    font-weight: 500;
    color: black;
}

.ui.idea .meta.send.by .group:hover {
    background-color: #d6d8da;
}

.ui.idea .meta.send.by {
    margin-bottom: 10px;
}

/* Horizontal card */
.ui.horizontal.fluid.card {
    width: 100%;
    max-width: 9999px;
}

.ui.horizontal.cards > .card,
.ui.card.horizontal {
    flex-direction: row;
    min-width: 400px;
    width: 400px;
    max-width: 100%;
}
.ui.horizontal.cards > .card > .image,
.ui.card.horizontal > .image {
    border-radius: 0.30769em 0 0 0.30769em;
    width: 150px;
}
.ui.horizontal.cards > .card > .image > img,
.ui.card.horizontal > .image > img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.30769em 0 0 0.30769em;
}

/* Paginator */

#paginator {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

@media (min-height: 320px) {
    #page-container {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #main {
        margin-right: unset;
    }

    #main > .right.rail {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .top.fixed.menu .topmenu.button {
        min-width: 0;
        box-shadow: 0px 0px 0px 0px;
        border: 0;
        border-radius: 0;
    }
    .ui.menu .item::before {
        background: none;
    }
    .top.fixed.menu .current.text .icon {
        margin-right: 0;
    }
    .top.fixed.menu .current.text .name,
    .top.fixed.menu .dropdown.icon {
        display: none;
    }

    .ui.card.vote {
        font-size: 0.5em;
    }

    .ui.card.vote > a {
        font-size: 1.4em!important;
    }
}

