/*
 * This file is part of the ceo.
 *
 * (c) Aula de Software Libre de la UCO <aulasoftwarelibre@uco.es>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "~semantic-ui-css/semantic.css";
@import "./reponsive-semantic-ui.css";


.logo {
    background: url("../images/ideas-small.png") no-repeat;
    width: 66px;
    height: 27px;
    margin: 5px 10px 0 15px;
}

.hidden.menu {
    display: none;
}

#topmenu {
    border-width: 0;
}

.ui.counter.segment {
    padding: 0;
}

.ui.vertical.stripe {
    padding: 3.5em 0em 5em;
}

.ui.vertical.stripe h1 {
    margin: 0;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 1em 0em;
}

.top.main.menu .toc.item {
    display: none;
}

.idea.ui.card {
    border-radius: 0;
}

.idea .statistic {
    min-width: 100px;
    border-left: rgb(224, 225, 226) solid thin;
    border-right: rgb(224, 225, 226) solid thin;
    padding: 5px 0;
    margin: 0;
}

.idea .vote {
    margin: 0;
    padding: 0;
}

@media (min-height: 320px) {
    .footer.segment { /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#main {
    margin-right: 318px;
}

@media only screen and (max-width: 992px) {
    #main {
        margin-right: unset;
    }

    #main > .right.rail {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .top.main.menu .item,
    .top.main.menu .menu {
        display: none;
    }
    #login,
    .top.main.menu .toc.item {
        display: block;
    }
    .ui.card.vote {
        font-size: 0.5em;
    }

    .ui.card.vote > a {
        font-size: 1.4em!important;
    }
}

#telegram-username.hidden,
#telegram-connect.hidden,
#telegram-disconnect.hidden {
    display: none;
}
