@import url('https://fonts.googleapis.com/css?family=Lato');

#page-container {
    position: relative;
    min-height: 100vh;
    background: rgba(40,40,40,1) none repeat scroll 0% 0%;
}

.full.height {
    margin-bottom: 65px;
}

.footer.segment {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.logo {
    background: url("../images/ideas-imagotipo-blanco.png") no-repeat;
    background-size: auto 30px;
    width: 110px;
    height: 30px;
    margin: 10px 20px 0 15px;
}

.help-text {
    font-size: 10px;
    padding-top: 5px;
    color: #ffffff;
}

.ui.counter.segment {
    padding: 0;
}

.ui.vertical.stripe {
    padding: 4.5em 0em 3em;
}

.activity.description {
    text-overflow: ellipsis;
    max-width: 160px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#add {
    margin: auto 0;
    padding: 13px 0;
    height: 40px;
    width: 40px;
}

/* Card */

.ui.idea.card {
    border-radius: 0;
}

.ui.idea .vote {
    padding: 0;
}

.ui.idea > .content > .description {
    clear: unset;
    font-family: 'Lato', sans-serif;
}

/* Card votes */

.ui.idea .statistic {
    min-width: 100px;
    padding: 12px 0 5px;
    margin: 0;
}

.ui.basic.approved.label {
    color: #21BA45 !important;
}

.ui.basic.approved.labels a.label:hover,
a.ui.basic.approved.label:hover {
    color: #16ab39 !important;
}

.ui.basic.rejected.label {
    color: #DB2828 !important;
}

.ui.basic.rejected.labels a.label:hover,
a.ui.basic.rejected.label:hover {
    color: #d01919 !important;
}

.ui.basic.new.label {
    color: #FBBD08 !important;
}

.ui.basic.new.labels a.label:hover,
a.ui.basic.new.label:hover {
    color: #eaae00 !important;
}

.ui.basic.proposed.label {
    color: #767676 !important;
}

.ui.basic.proposed.labels a.label:hover,
a.ui.basic.proposed.label:hover {
    color: #838383 !important;
}

.summary {
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    mask-image: linear-gradient(180deg,#000 60%,transparent);
    overflow: hidden;
    padding: 5px 8px 10px;
    max-height: 200px;
}

#ideas > .row {
    padding-bottom: 0;
}

.ui.idea  > .extra {
    border-top: unset!important;
}

.ui.vote > .ui.label,
.ui.vote > .ui.button {
    font-size: 0.87em!important;
}

/* Card meta */

.ui.idea .meta.send.by .group {
    color: #ffffff;
    padding: 0 4px;
    border-radius: 2px;
    font-weight: 900;
}

.ui.idea .meta.send.by .group:hover {
    text-decoration: underline;
}

.ui.idea .meta.send.by {
    margin-bottom: 10px;
}

/* Horizontal card */
.ui.horizontal.fluid.card {
    width: 100%;
    max-width: 9999px;
}

.ui.horizontal.cards > .card,
.ui.card.horizontal {
    flex-direction: row;
    min-width: 400px;
    width: 400px;
    max-width: 100%;
}
.ui.horizontal.cards > .card > .image,
.ui.card.horizontal > .image {
    border-radius: 0.30769em 0 0 0.30769em;
    width: 150px;
}
.ui.horizontal.cards > .card > .image > img,
.ui.card.horizontal > .image > img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.30769em 0 0 0.30769em;
}

.ui.inverted.definition.table > tr > td:first-child:not(.ignored),
.ui.inverted.definition.table > tbody > tr > td:first-child:not(.ignored),
.ui.inverted.definition.table > tfoot > tr > td:first-child:not(.ignored),
.ui.inverted.definition.table tr td.definition {
    color: #ffffff;
}

[data-inverted][data-position~="bottom"][data-tooltip]::after,
[data-inverted][data-position~="top"][data-tooltip]::after {
    background: #474a46;
}
[data-inverted][data-position~="bottom"][data-tooltip]::before,
[data-inverted][data-position~="top"][data-tooltip]::before {
    background: #474a46;
}

.ui.form.inverted input  {
    background-color: #1B1C1D!important;
    color: rgba(255, 255, 255, 0.8)!important;
}

/* Paginator */

#paginator {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

@media (min-height: 320px) {
    #page-container {
        padding-bottom: 30px;
    }
}

.top.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 767px) {
    .right.menu > .search,
    .top.menu > .item {
        display: none!important;
    }
    .top.menu .toc.item {
        display: block!important;
        margin: auto 0;
    }

    .ui.card.vote {
        font-size: 0.5em;
    }

    .ui.card.vote > a {
        font-size: 1.4em!important;
    }
}

