@import url('https://fonts.googleapis.com/css?family=Lato');

body.pushable > .pusher,
.pushable > .pusher,
.pusher {
    background: rgb(218, 224, 230) none repeat scroll 0% 0%;
}

.logo {
    background: url("../images/ideas-small.png") no-repeat;
    width: 66px;
    height: 27px;
    margin: 5px 10px 0 15px;
}

.hidden.menu {
    display: none;
}

.ui.counter.segment {
    padding: 0;
}

.ui.vertical.stripe {
    padding: 4.5em 0em 5em;
}

.ui.vertical.stripe h1 {
    margin: 0;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 110%
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 1em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

/* Card */

.ui.idea.card {
    border-radius: 0;
}

.ui.idea .vote {
    padding: 0;
}

.ui.idea > .content > .description {
    clear: unset;
    font-family: 'Lato', sans-serif;
}

/* Card votes */

.ui.idea .statistic {
    min-width: 100px;
    background: #f8f9fa none repeat scroll 0% 0%;
    padding: 12px 0 5px;
    margin: 0;
}

.ui.basic.approved.label {
    background-color: #FFFFFF !important;
    color: #21BA45 !important;
    border-color: #21BA45 !important;
}

.ui.basic.approved.labels a.label:hover,
a.ui.basic.approved.label:hover {
    background-color: #FFFFFF !important;
    color: #16ab39 !important;
    border-color: #16ab39 !important;
}

.ui.basic.rejected.label {
    background-color: #FFFFFF !important;
    color: #DB2828 !important;
    border-color: #DB2828 !important;
}

.ui.basic.rejected.labels a.label:hover,
a.ui.basic.rejected.label:hover {
    background-color: #FFFFFF !important;
    color: #d01919 !important;
    border-color: #d01919 !important;
}

.ui.basic.new.label {
    background-color: #FFFFFF !important;
    color: #FBBD08 !important;
    border-color: #FBBD08 !important;
}

.ui.basic.new.labels a.label:hover,
a.ui.basic.new.label:hover {
    background-color: #FFFFFF !important;
    color: #eaae00 !important;
    border-color: #eaae00 !important;
}

.ui.basic.proposed.label {
    background-color: #FFFFFF !important;
    color: #767676 !important;
    border-color: #767676 !important;
}

.ui.basic.proposed.labels a.label:hover,
a.ui.basic.proposed.label:hover {
    background-color: #FFFFFF !important;
    color: #838383 !important;
    border-color: #838383 !important;
}

.summary {
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    mask-image: linear-gradient(180deg,#000 60%,transparent);
    overflow: hidden;
    padding: 5px 8px 10px;
    max-height: 200px;
}

#ideas > .row {
    padding-bottom: 0;
}

.ui.idea  > .extra {
    border-top: unset!important;
}

.ui.vote > .ui.label,
.ui.vote > .ui.button {
    font-size: 0.87em!important;
}

/* Card meta */

.ui.idea .meta.send.by .group {
    background-color: #edeff1;
    padding: 0 4px;
    border-radius: 2px;
    font-weight: 500;
    color: black;
}

.ui.idea .meta.send.by {
    margin-bottom: 10px;
}

/* Horizontal card */
.ui.horizontal.fluid.card {
    width: 100%;
    max-width: 9999px;
}

.ui.horizontal.cards > .card,
.ui.card.horizontal {
    flex-direction: row;
    min-width: 400px;
    width: 400px;
    max-width: 100%;
}
.ui.horizontal.cards > .card > .image,
.ui.card.horizontal > .image {
    border-radius: 0.30769em 0 0 0.30769em;
    width: 150px;
}
.ui.horizontal.cards > .card > .image > img,
.ui.card.horizontal > .image > img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.30769em 0 0 0.30769em;
}

/* Paginator */

#paginator {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}


@media (min-height: 320px) {
    .footer.segment { /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#main {
    margin-right: 318px;
}

.ui.secondary.pointing {
    background-color: white!important;
}

@media only screen and (max-width: 992px) {
    #main {
        margin-right: unset;
    }

    #main > .right.rail {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    #login,
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .ui.card.vote {
        font-size: 0.5em;
    }

    .ui.card.vote > a {
        font-size: 1.4em!important;
    }
}

#telegram-username.hidden,
#telegram-connect.hidden,
#telegram-disconnect.hidden {
    display: none;
}

