body {
    background: rgb(40,40,40) none repeat scroll 0% 0%;
}

body > .grid {
    height: 100%;
}

#logo {
    margin-top: -80px;
    padding: 10px;
    background-color: #1B1C1D;
}

.column {
    max-width: 650px;
}
