@import "~semantic-ui-css/semantic.css";

body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}

#logo {
    margin-top: -100px;
    padding: 10px;
    background: white;
}
.column {
    max-width: 650px;
}
