<div class="ui inverted vertical fluid menu">
    <div class="header active item">{{ title }}</div>
    {% for idea in ideas %}
        <a class="item" href="{{ path('idea_show',{'slug': idea[0].slug}) }}">
            <span class="activity description">{{ idea[0].title }}</span>
            <span class="ui grey inverted label">{{ idea['votes'] }}</span>
        </a>
    {% else %}
        <a class="item">No hay ideas pendientes de aprobar.</a>
    {% endfor %}
</div>
