{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui inverted idea fluid card">
                <div class="content">
                    <div class="two column">
                        {{ form_start(form, {attr: {id: 'idea_form', class: 'inverted'}, method: 'POST', action: path('idea_edit', {'slug': idea.slug})}) }}
                        <h1 class="ui inverted header">
                            Editar idea
                            <div class="sub header">{{ idea.title }}</div>
                        </h1>

                        <div class="ui divider"></div>


                        {{ form_widget(form) }}

                        <div class="ui divider"></div>

                        <div class="ui inverted submit button">Guardar</div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
