{% from "widgets/paginator.html.twig" import pagination %}

{% extends "base.html.twig" %}

{% block body %}
    <h1 class="ui inverted header">
        Actividades de Grupo
        <div class="sub header">{{ group.name }}</div>
    </h1>

    <div class="ui divider"></div>

    <div class="ui grid" id="ideas">
        {% for idea in ideas %}
            {% include('/frontend/idea/_idea.html.twig') %}
        {% else %}
            <div>No hay ideas :(</div>
        {% endfor %}

        <div class="centered aligned row">
            {{ pagination(page, numPages, 'idea_group_index_paginated', {'slug': group.slug}) }}
        </div>
    </div>
{% endblock %}
