{% extends "base.html.twig" %}

{% block body %}
    <h1 class="ui header">
        Actividades de Grupo
        <div class="sub header">{{ group.name }}</div>
    </h1>

    <div class="ui divider"></div>

    <div class="ui grid" id="ideas">
        {% for idea in ideas %}
            {% include('/frontend/idea/_idea.html.twig') %}
        {% else %}
            <div>No hay ideas :(</div>
        {% endfor %}

        <div class="centered aligned row">
            {% if ideas.haveToPaginate %}
                {{ pagerfanta(ideas, 'idea_main', {routeName: 'idea_group_index_paginated', routeParams: {'slug': group.slug}}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}