{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        {% for idea in ideas %}
            {% include('/frontend/idea/_idea.html.twig') %}
        {% else %}
        <div>No hay ideas :(</div>
        {% endfor %}
    </div>

    {% if ideas.haveToPaginate %}
        <div class="ui basic center aligned segment">
            {{ pagerfanta(ideas, 'semantic_ui_translated', {css_container_class: 'ui pagination menu', routeName: 'idea_index_paginated'}) }}
        </div>
    {% endif %}
{% endblock %}