{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid" id="ideas">
        {% for idea in ideas %}
            {% include('/frontend/idea/_idea.html.twig') %}
        {% else %}
        <div>No hay ideas :(</div>
        {% endfor %}

        <div class="centered aligned row">
            {% if ideas.haveToPaginate %}
                {{ pagerfanta(ideas, 'idea_main', { routeName: 'idea_index_paginated' }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}