{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">

                <div class="content">
                    <div class="two column">
                        {{ form_start(form, {attr: {id: 'idea_form'}, method: 'POST', action: path('idea_new')}) }}
                        <h1 class="ui header">
                            Proponer idea
                        </h1>

                        <div class="ui divider"></div>

                        {{ form_widget(form) }}

                        <div class="ui divider"></div>

                        <div class="ui submit button">Enviar</div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
