{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        {% include('/frontend/idea/_idea.html.twig') %}

        <div class="three wide column">
            Participantes:
        </div>
        <div class="thirteen wide column">
            {% for vote in idea.votes %}
                {% set user = vote.user %}
                <a class="ui basic image label">
                    <img src="{{ gravatar(user.email) }}">
                    {{ user.username }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="ui divider"></div>


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': idea.id } %}
    {% else %}
        <div class="ui floating icon message">
            <i class="add user icon"></i>
            <div class="content">
                <div class="header">
                    ¿Quieres participar?
                </div>
                <p>
                    <a href="{{ path('login') }}">Inicia sesión</a> para dejar un comentario.
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}
