{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        {% include('/frontend/idea/_idea.html.twig') %}
    </div>
{% endblock %}

{% block side_menu %}
    {{ parent() }}
{% endblock %}

{% block extra %}extra{% endblock %}