<div class="ui header">Grupos</div>
<div class="ui list">
    {% for group in groups %}
        <div class="item">
            <i class="group icon"></i>
            <div class="content">
                <a href="{{ path('idea_group_index',{'slug': group.slug}) }}">
                    {{ group.name }}
                </a>
            </div>
        </div>
    {% endfor %}
</div>
